@model Peluqueria.Models.Turno

@{
    ViewData["Title"] = "Create";
}
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json


@{
    var usuarioLogueado = Context.Session.GetString("Usuario");
    var usuario = JsonConvert.DeserializeObject<Usuario>(usuarioLogueado);
}
<h1>Create</h1>

<h4>Turno</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FechaHora" class="control-label">Fecha y hora</label>
                <input asp-for="FechaHora" class="form-control" />
                <span asp-validation-for="FechaHora" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Atendido" /> @Html.DisplayNameFor(model => model.Atendido)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ServicioId" class="control-label">Servicio</label>
                <select asp-for="ServicioId" class="form-control" asp-items="ViewBag.ServicioId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ClienteId" class="control-label">Cliente</label>
                <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.ClienteId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PeluqueroId" class="control-label">Peluquero</label>
                <select asp-for="PeluqueroId" class="form-control" asp-items="ViewBag.PeluqueroId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear nuevo turno" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
        <a asp-action="IndexTurno">Volver a la lista</a>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
