@model Peluqueria.Models.Turno
@{
    ViewData["Title"] = "Edit";
}
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@{
    var usuarioLogueado = Context.Session.GetString("Usuario");
    var usuario = JsonConvert.DeserializeObject<Usuario>(usuarioLogueado);
}
<link rel="stylesheet" href="~/css/formStyle.css" />
<h1>Editar</h1>

<h4>Turno</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @switch (usuario.Rol)
            {
                case Rol.ADMINISTRADOR:
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="FechaHora" class="control-label"></label>
                        <input asp-for="FechaHora" class="form-control" required/>
                        <span asp-validation-for="FechaHora" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Atendido" /> @Html.DisplayNameFor(model => model.Atendido)
                        </label>
                    </div>
                    <div class="form-group">
                        <label asp-for="ClienteId" class="control-label">Cliente</label>
                        <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.ClienteId" required></select>
                        <span asp-validation-for="ClienteId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PeluqueroId" class="control-label">Peluquero</label>
                        <select asp-for="PeluqueroId" class="form-control" asp-items="ViewBag.PeluqueroId" required></select>
                        <span asp-validation-for="PeluqueroId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ServicioId" class="control-label">Servicio</label>
                        <select asp-for="ServicioId" class="form-control" asp-items="ViewBag.ServicioId" required></select>
                        <span asp-validation-for="ServicioId" class="text-danger"></span>
                    </div>
                    break;
                case Rol.CLIENTE:
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="FechaHora" class="control-label"></label>
                        <input asp-for="FechaHora" class="form-control" required/>
                        <span asp-validation-for="FechaHora" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Atendido" disabled/> @Html.DisplayNameFor(model => model.Atendido)
                        </label>
                    </div>
                    <div class="form-group">
                        <label asp-for="ClienteId" class="control-label">Cliente</label>
                        <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.ClienteId" disabled></select>
                        <span asp-validation-for="ClienteId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PeluqueroId" class="control-label">Peluquero</label>
                        <select asp-for="PeluqueroId" class="form-control" asp-items="ViewBag.PeluqueroId" disabled></select>
                        <span asp-validation-for="PeluqueroId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ServicioId" class="control-label">Servicio</label>
                        <select asp-for="ServicioId" class="form-control" asp-items="ViewBag.ServicioId" required></select>
                        <span asp-validation-for="ServicioId" class="text-danger"></span>
                    </div>
                    break;
                case Rol.PELUQUERO:
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="FechaHora" class="control-label"></label>
                        <input asp-for="FechaHora" class="form-control" required/>
                        <span asp-validation-for="FechaHora" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Atendido" /> @Html.DisplayNameFor(model => model.Atendido)
                        </label>
                    </div>
                    <div class="form-group">
                        <label asp-for="ClienteId" class="control-label">Cliente</label>
                        <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.ClienteId" disabled></select>
                        <span asp-validation-for="ClienteId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PeluqueroId" class="control-label">Peluquero</label>
                        <select asp-for="PeluqueroId" class="form-control" asp-items="ViewBag.PeluqueroId" disabled></select>
                        <span asp-validation-for="PeluqueroId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ServicioId" class="control-label">Servicio</label>
                        <select asp-for="ServicioId" class="form-control" asp-items="ViewBag.ServicioId" required></select>
                        <span asp-validation-for="ServicioId" class="text-danger"></span>
                    </div>
                    break;
            }
            <div class="form-group">
                <input type="submit" value="Guardar" class="bottonAccion btn" />
            </div>
        </form>
    </div>
</div>
<div>
        <a asp-action="IndexTurno">Volver a la lista</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            }