[filesystem "Ubuntu|11.0.7|11.0.8|11.0.9.1|/dev/sda1"]
  timestampResolution = 8000 nanoseconds
  minRacyThreshold = 3609 microseconds
[user]
  name = Emiliano Salcedo
  email = 5517717+emilianosalcedo@users.noreply.github.com
[init]
  defaultBranch = main
[core]
  editor = vi
[credential]
  helper = cache --timeout=10800
[alias]
  co = checkout
  ci = commit
  br = branch
  dfs = diff --staged
  logg = log --graph --decorate --oneline --abbrev-commit --all
  branches = branch -a
