@model List<Peluqueria.Models.ServicioEstadistica>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/homeStyle.css" />
<h1>VISUALIZADOR:</h1>
<h2>CANTIDAD DE TURNOS POR SERVICIO</h2>
<canvas id="myChart"></canvas>

@section Scripts {

    <script>
        // Obtener los datos del modelo y convertirlos en arreglos separados
        var servicios = @Html.Raw(Json.Serialize(Model.Select(s => s.Servicio)));
        var cantidadesTurnos = @Html.Raw(Json.Serialize(Model.Select(s => s.CantidadTurnos)));

        // Configurar el gráfico
        var ctx = document.getElementById('myChart').getContext('2d');
        var colores = ['rgba(75, 192, 192, 0.2)', 'rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)', 'rgba(255, 206, 86, 0.2)', 'rgba(153, 102, 255, 0.2)'];
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: servicios,
                datasets: [{
                    label: 'Cantidad de Turnos',
                    data: cantidadesTurnos,
                    backgroundColor: colores,
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        precision: 0
                    }
                },
                ticks: {
                    stepSize: 1
                }
            }
        });
    </script>
}