@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/homeStyle.css" />
<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Proyecto final PNT1: <a href="https://github.com/emilianosalcedo/proyecto-pnt1">repositorio</a></p>
</div>
