<!DOCTYPE html>
<html>
<head>
    <title>Integrantes Grupo 1</title>
</head>
<body>
    <h1>Lista de Integrantes del Grupo 1</h1>
    <ul>
        <li>Juan Nuñez</li>
        <li>Emiliano Salcedo</li>
        <li>Abril Mailen Arce Agurto</li>
        <li>Agustin Moguilevsky</li>
    </ul>
    <h2>PNT1-YA-12E</h2>
</body>
</html>